@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100 font-sans;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue-600 rounded-full;
  border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500;
}